body{
	background-color: #F0E6E7;
}

/*تنسيق ديف التسجيل الجديد */
.sigup{
	display: table;
	float:none;
	margin:80px;  
	align=center;

}
/*تنسيق فورم التسجيل الجديد */

#sigupform{
	padding-top: 15px;
	padding-bottom:15px;
    margin-right: 25%;
    margin-left: : 25%;
    margin-top: 10px;
	background-color:#f2f2f2;
	border: 2px solid;
	border-color:lightgrey;
	border-radius: 15px;
	width:500px;
	height: 570px;
	
}

/*تنسيق ديف تسجيل الدخول */
.sign{
	
	display: table;
	float:none;
	margin:100px;  
	align=center;
	
	
}
/*تنسيق فورم تسجيل الدخول */

#signform {
	padding-top: 25px;
    margin-right: 25%;
    margin-left: : 25%;
    margin-top: 10px;
	background-color:#f2f2f2;
	border: 2px solid;
	border-color:lightgrey;
	border-radius: 15px;
	width:500px;
	height: 400px;
	
}
/*--------------------------*/

/*تنسيق حقل اسم المستخدم*/
input[type=text]{
	margin-top:5px;
	border-radius: 5px;
	width: 300px;
	height:40px;
	margin-bottom: 10px;
	padding-left: 20px;
}

/*تنسيق حقل الايميل */
input[type=email]{
	margin-top:5px;
	border-radius: 5px;
	width: 300px;
	height:40px;
	margin-bottom: 10px;
	padding-left: 20px;
}
/*تنسيق حقل الباسوورد */
input[type=password]{
	margin-top:5px;
	border-radius: 5px;
	width: 300px;
	height:40px;
	margin-bottom: 10px;
	padding-left: 20px;
}
/*تنسيق زر السابمت التسجيل */

#sigupsubmit{
	font-size:large;
	color:white;
	font-family:Tahoma;
	background-color:grey;
	border-radius: 5px;
	width: 300px;
	height:40px;
	margin-bottom: 5px;
	text-align: center;
	
}
/*تنسيق زر تسجيل الدخول*/
#siginsubmit{
	font-size:large;
	color:white;
	font-family:Tahoma;
	background-color:grey;
	border-radius: 5px;
	width: 320px;
	height:40px;
	margin-bottom: 20px;
	text-align: center;
}
/*كود تنسيق عمود السوشيال ميديا*/
.icon-bar {
  position: fixed;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
 
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 16px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
  border-radius:5px;
}
/*خاصية الهوفر علي الايقونات*/
.icon-bar a:hover {
  background-color: aqua;
}
/*تنسيق خلفية الايقونات و لون الخط*/
.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}